* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 24px;
}

p {
  margin: 0 0 24px;
}

.flex-container {
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  flex-flow: row wrap; /* Shotcut for the 2 lines above */
  justify-content: space-between;
  background: yellow;
}

.flex-item {
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 320px; */
  flex: 1 0 320px; /* Shotcut for the 3 lines above */
  height: 200px;
  color: white;
  background: red;
}

/* 
  Making flex items follow these order: Four - One - Two - Five - Three
  Orders ----------------------------->  0   -  1  -  2  -  3   - 4
*/

.flex-item:nth-child(1) {
  order: 1;
}

.flex-item:nth-child(2) {
  order: 2;
  flex: 10 0 320px;
  background: peru;
}

.flex-item:nth-child(3) {
  order: 4;
}

.flex-item:nth-child(5) {
  order: 3;
}

/* Bellow we'll have flexbox content inside another flexbox content */

.two-columns {
  display: flex;
}

.two-columns .col {
  display: flex;
  flex-direction: column;
  background: khaki;
  margin: 15px;
  padding: 30px;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
  gap: 3px;
}

.gallery .img {
  flex: 1 0 20%;
  height: 50px;
  background: seagreen;
}