* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

section {
  margin: 0 0 0 50%;
  padding: 10px 0;
}

section > a {
  font-size: 2vmax;
  padding: 10px;
}

.father {
  width: 100vw;
  height: 100vh;
  background: purple;
  color: beige;
}

.father > div {
  width: 90%;
  height: 50rem;
  border: 1px dashed black;
}

.color-one {
  background: turquoise;
}

.color-two {
  background: salmon;
}
